<% include header.html %>

<div class="fullscreen" id="displayScreen">
    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">

        <defs>
          <pattern id="smallGrid" width="8" height="8" patternUnits="userSpaceOnUse">
            <path d="M 8 0 L 0 0 0 8" fill="none" stroke="#0F8AA6" stroke-width="0.5"/>
          </pattern>
          <pattern id="grid" width="80" height="80" patternUnits="userSpaceOnUse">
            <rect width="80" height="80" fill="url(#smallGrid)"/>
            <path d="M 80 0 L 0 0 0 80" fill="none" stroke="#0F8AA6" stroke-width="1"/>
          </pattern>
        </defs>

        <rect width="100%" height="100%" fill="url(#grid)" />
    </svg>
</div>
<div class="nav-zoom-wrapper">
    <input type="range" class="nav-zoom" id="zoomSlider" max="50">
</div>

<script type="text/template" id="scannerObjectTmpl">
    <div id="{{ name }}" class='conn-scannerObject'>
        <svg width="8px" height="8px" xmlns="http://www.w3.org/2000/svg">
            <circle style="fill:#0F8AA6"; cx="4" cy="4" r="4"/>
        </svg>
        <p class="name">{{ name }}</p>
        <p class="speed">{{ speed }}</p>
        <p class="distBearing">{{ distAndBearing }}</p>
        {{ #is_z_axis }}
        <p class="z">z {{ z_axis }}</p>
        {{ /is_z_axis }}
    </div>
</script>

<script type="text/template" id="scannerObjectTmplHollow">
    <div id="{{ name }}" class='conn-scannerObject'>
        <svg width="8px" height="8px" xmlns="http://www.w3.org/2000/svg">
            <circle stroke="#0F8AA6" fill="none" cx="4" cy="4" r="4"/>
        </svg>
        <p class="name">{{ name }}</p>
        <p class="speed">{{ speed }}</p>
        <p class="distBearing">{{ distAndBearing }}</p>
        {{ #is_z_axis }}
        <p class="z">z {{ z_axis }}</p>
        {{ /is_z_axis }}
    </div>
</script>

<script type="text/template" id="scannerObjectTmplPoint">
    <div id="{{ name }}" class='conn-scannerObject'>
        <svg width="8px" height="8px" xmlns="http://www.w3.org/2000/svg">
            <path d="M 0 4 L 8 4 M 4 8 L 4 0" fill="none" stroke="#0F8AA6" stroke-width="1"/>
        </svg>
        <p class="name">{{ name }}</p>
        <p class="speed">{{ speed }}</p>
        <p class="distBearing">{{ distAndBearing }}</p>
        {{ #is_z_axis }}
        <p class="z">z {{ z_axis }}</p>
        {{ /is_z_axis }}
    </div>
</script>


<script type="text/javascript">

    var shipName = "<%= ship.name %>";
    var systemName = "<%= system_name %>";

</script>

<script type="text/javascript" src="static/js/trek/conn-screen.js"></script>

<% include footer.html %>
