<% include header.html %>

<link rel="stylesheet" href="/static/css/engineering.css">

<div id="leftSide" class="fleft left-split">
    <div id="viewMenu">
        <ul class="menu horizontal x1">
            <li class="blue lightblue" id="engineering_screen">System Status</li>
            <li class="blue" id="engineering_power">Power Distribution</li>
        </ul>
    </div>
    <div id="subMenu">
    </div>
</div>

<div id="rightSide" class="fleft right-split">
    <iframe id="displayScreen" class="fullscreen">
    </iframe>
</div>

<script type="text/template" id="powerSubmenuTemplate">
    <div id="subsubmenu_selector">
        <p class="descriptiveText">Power Systems</p>
        <ul class="menu horizontal x1">
        </ul>
    </div>
    <div id="reactors" class="subsubmenu">
        <p class="descriptiveText">Reactors</p>
        <ul class="menu horizontal x1">
        {{ #reactors }}
            <li class="{{color}}" id="{{ name }}">{{ name }}</li>
        {{ /reactors }}
        </ul>
    </div>
    <div id="primary_relays" class="subsubmenu">
        <p class="descriptiveText">Primary Relays</p>
        <ul class="menu horizontal x1">
        {{ #primary_relays }}
            <li class="{{ color }}" id="{{ name }}">{{ name }}</li>
        {{ /primary_relays }}
        </ul>
    </div>
    <div id="eps_relays" class="subsubmenu">
        <p class="descriptiveText">EPS Relays</p>
        <ul class="menu horizontal x1">
        {{ #eps_relays }}
            <li class="{{ color }}" id="{{ name }}">{{ name }}</li>
        {{ /eps_relays }}
        </ul>
    </div>
</script>

<script type="text/javascript" src='static/js/trek/engineering.js'></script>

<% include footer.html %>
