<% include header.html %>
<link rel="stylesheet" href="/static/css/engineering.css">
<div id="leftSide" class="fleft">
    <div id="viewMenu">
        <ul class="menu horizontal x1">
            <li class="lightblue" id="engineering_screen">System Status</li>
            <li class="blue" id="engineering_power">Power Distribution</li>
        </ul>
    </div>
    <div id="subMenu">
    </div>
</div>
<div id="rightSide" class="fleft">
    <iframe id="displayScreen">
    </iframe>
</div>

<script type="text/template" id="powerSubmenuTemplate">
    <div id="subsubmenu_selector">
        <p class="descriptiveText">Power Systems</p>
        <ul class="menu horizontal x1">
        </ul>
    </div>
    <div id="reactors" class="subsubmenu">
        <p class="descriptiveText">Reactors</p>
        <ul class="menu horizontal x1">
        {{#reactors}}
            <li class="{{color}}" id="{{name}}">{{name}}</li>
        {{/reactors}}
        </ul>
    </div>
    <div id="primary_relays" class="subsubmenu">
        <p class="descriptiveText">Primary Relays</p>
        <ul class="menu horizontal x1">
        {{#primary_relays}}
            <li class="{{color}}" id="{{name}}">{{name}}</li>
        {{/primary_relays}}
        </ul>
    </div>
    <div id="eps_relays" class="subsubmenu">
        <p class="descriptiveText">EPS Relays</p>
        <ul class="menu horizontal x1">
        {{#eps_relays}}
            <li class="{{color}}" id="{{name}}">{{name}}</li>
        {{/eps_relays}}
        </ul>
    </div>
</script>

<script type="text/javascript">

var $screenSelections = $("#viewMenu li");
var $subMenu = $("#subMenu");
var $subSubMenues = $(".subsubmenu");
var $power = $("#engineering_power");
var $status = $("#engineering_screen");
var $displayScreen = $("#displayScreen");
var powerTemplate = $("#powerSubmenuTemplate").html();

$screenSelections.click(function(c) {
    $screenSelections.removeClass('lightblue').addClass('blue');
    $(this).removeClass('blue').addClass('lightblue');
    $displayScreen.attr('src', this.id);
});

$status.click( function(c) {
    $subMenu.empty();
});

$power.click( function(c) {
    trek.api( 'engineering/power', {}, drawPowerSubmenu );
});

function setPowerIndicatorColor(e) {
    e['color'] = 'blue';
    if (e.output_level > 1) {
        e['color'] = 'red';
    }
    if (e.current_power_level > 1) {
        e['color'] = 'red';
    }
}

function drawPowerSubmenu(powerJSON) {
    _.each(powerJSON.reactors, setPowerIndicatorColor)
    _.each(powerJSON.primary_relays, setPowerIndicatorColor)
    _.each(powerJSON.eps_relays, setPowerIndicatorColor)
    $subMenu.html(Mustache.render(powerTemplate, powerJSON))
    $subSubMenues = $(".subsubmenu");
    $(".subsubmenu li").click(selectPowerComponent);
    $subSubMenues.hide();
    var $subsubmenu_list = $("#subsubmenu_selector ul");
    var $reactors_li = $("<li class='green'>Reactors</li>");
    var $relays_li = $("<li class='green'>Primary Relays</li>");
    var $eps_relays_li = $("<li class='green'>EPS Relays</li>");
    $subsubmenu_list.append($reactors_li).append($relays_li).append($eps_relays_li)
    var flush_subsubmenues = function() {
        $subSubMenues.hide();
        $("#subsubmenu_selector li").removeClass('lightgreen');
    };
    $reactors_li.click(function(c) {
        flush_subsubmenues();
        $("#reactors").show();
        $reactors_li.addClass('lightgreen');
    });
    $relays_li.click(function(c) {
        flush_subsubmenues();
        $("#primary_relays").show();
        $relays_li.addClass('lightgreen');
    });
    $eps_relays_li.click(function(c) {
        flush_subsubmenues();
        $("#eps_relays").show();
        $eps_relays_li.addClass('lightgreen');
    });
};

function selectPowerComponent(c) {
    $power_type = $(this).parent().parent();
    $displayScreen.attr('src', 'engineering_power?component=' + this.id + "&power_type=" + $power_type[0].id);
    $(".subsubmenu li").removeClass('lightblue');
    $(this).addClass('lightblue');
}


$status.click();

trek.playBridgeSound();

</script>
<% include footer.html %>