<!DOCTYPE html>
<html>
<head>
    <!--

                                   MM
                                  M MM
                                 M   M?
                                M     M
                               ~O     MM
                            IMMM       MMMZ
                         ~MMM M    M    M NMM$
                       :MM    D    M    MM   MMO
                      MM     M     M     M     MM
                     MM      =     MO    MM     IM:
                    MI      M      MM     M       M7
                   MO      M      NMM     =M       M
                  MM       M      MMM      M       7M
                 ,M       M    OMMMMMMMI    M       M+
                 MM       M      MMMMM      M$      MM
                 MO      M       MM MM       M      ?M
                 M,      M       Z    ,      MM     ,M
                 MN     M                     M     8M
                 MM     M                     M     MM
                 :M    M            MMM ,MI    M    M:
                  MM   M          MM      MN   M   DM
                   M= MO        MM         MM  MD ,M
                   ~M M       MM            MM  M MZ
                    +MM     +MD              MM MMZ
                     MM    MM                 M7MM
                     M   NMM                 MMMMM
                    ,M  MMMMM             MMM, MMM
                    MM~MM    MMMMMMMMMMMMM      MM
                    MMMN                         M
                    MM
                    M


-->
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/underscore-min.js"></script>
    <script src="static/js/mustache.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="static/js/trek.js"></script>
</head>
<body>