<html>
    <head>
        <title>Trek</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="static/js/jquery.min.js"></script>
    </head>
    <body>
<div id="welcome">
    <h1>Trek</h1>
    <p>Select a ship from the roster.</p>
</div>
<div id="shipRoster">
    <ul class="menu">
        <% for(var i=0; i<ships.length; i++) { %>
        <li class="blue" id="<%= ships[i].name %>" onclick="showPrefixEntry(this)">USS <%= ships[i].name %> - NCC <%= ships[i].registry %></li>
        <% } %>
    </ul>
</div>
<div class="blackout">
    <div id="prefixEntry">
        <p id="prefixInvite"></p>
        <input style="text" class="blue" id="prefix">
        <ul class="menu">
            <li onclick="submitPrefix()" class="blue">Connect</li>
            <li onclick="hidePrefixEntry()" class="blue">Cancel</li>
        </ul>
    </div>
</div>
<script type="text/javascript">

var selected_ship = "";

var $bg = $( ".blackout" );
var $prefixInvite = $( "#prefixInvite" );

function showPrefixEntry(e) {
    $bg.css( "visibility", "visible" );
    $prefixInvite.html( "Enter prefix code for " + e.id );
    selected_ship = e.id;
}

function hidePrefixEntry(e) {
    $bg.css( "visibility", "hidden" );
    document.getElementById( "prefix" ).value = "";
    setLoginColor( "blue" );
}

function submitPrefix() {
    var code = document.getElementById( "prefix" ).value;
    $.get(
        "/postfix",
        { prefix : code,
          ship : selected_ship
        },
        function(data) {
            if ( data.status == "OK" ) {
                window.location.replace( "/ship" )
            } else {
                $prefixInvite.html( "Invalid prefix for " + selected_ship );
                setLoginColor( "red" );
            }
        }
    );
}

function setLoginColor(color) {
    $( "#prefix" ).attr( "class", color );
    $( "#prefixEntry" ).attr( "class", color );
    $( "#prefixEntry li" ).attr( "class", color );
}

</script>
</body>
</html>
