<% include header.html %>

<link rel="stylesheet" href="/static/css/ops.css">

<div id="leftSide" class="fleft">

    <div id="viewMenu">
        <ul class="menu horizontal small x2">
            <li class="blue" id="cargo">Cargo</li>
            <li class="blue lightblue" id="crew">Crew</li>
            <li class="blue" id="transporters">Trans</li>
            <li class="blue" id="repair">Repair</li>
        </ul>
    </div>

    <div class="clear"></div>

    <div id="crew_menu" class="hideable hidden">
        <table class="informational">
            <tr>
                <td><div class="ops-crew-beacon"><p>C</p></div></td>
                <td class="informational">Ship Crew</td>
            </tr>
            <tr>
                <td><div class="ops-crew-beacon enroute"><p>C</p></div></td>
                <td class="informational">Crew Enroute</td>
            </tr>
            <tr>
                <td><div class="ops-crew-beacon injured"><p>C</p></div></td>
                <td class="informational">Injured Crew</td>
            </tr>
            <tr>
                <td><div class="ops-crew-beacon guest"><p>G</p></div></td>
                <td class="informational">Guest</td>
            </tr>
            <tr>
                <td><div class="ops-crew-beacon guest injured"><p>G</p></div></td>
                <td class="informational">Injured Guest</td>
            </tr>
            <tr>
                <td><div class="ops-crew-beacon prisoner"><p>P</p></div></td>
                <td class="informational">Prisonner</td>
            </tr>
            <tr>
                <td><div class="ops-crew-beacon intruder"><p>I</p></div></td>
                <td class="informational">Intruder</td>
            </tr>
            <tr>
                <td>S</td><td class="informational">Science Team</td>
            </tr>
            <tr>
                <td>R</td><td class="informational">Repair Team</td>
            </tr>
            <tr>
                <td>F</td><td class="informational">Security Team</td>
            </tr>
            <tr>
                <td>E</td><td class="informational">Engineering Team</td>
            </tr>
            <tr>
                <td>D</td><td class="informational">Diplomatic Team</td>
            </tr>
            <tr>
                <td>M</td><td class="informational">Medical Team</td>
            </tr>
            <tr>
                <td>I</td><td class="informational">Intelligence Team</td>
            </tr>
        </table>
    </div>

    <div id="transport_menu" class="hideable hidden">
        <p>Transport Type</p>
        <ul class="menu x1">
            <li id="cargo" class="blue lightblue trans_type">Cargo</li>
            <li id="crew" class="blue trans_type">Personnel</li>
        </ul>
        <p>Transport Origin</p>
        <div id="transport_origin_submenu">
        </div>
        <p>Transport Destination</p>
        <div id="transport_destination_submenu">
        </div>
    </div>

    <div id="repair_menu" class="hideable hidden">
        <p>Repair to:</p>
        <ul class="menu x1">
            <li class="blue" id="repair_to_operability">Operability</li>
            <li class="blue" id="repair_to_complete">Complete Repair</li>
        </ul>
        <p>Damaged Systems</p>
        <div id="damaged_systems"></div>
    </div>

</div>

<div id="rightSide" class="fleft">
    <iframe id="viewScreen"></iframe>
</div>

<script>

    var ship_name = "<%= ship.name %>";

</script>

<script type="text/javascript" src="static/js/trek/ops.js"></script>

<% include footer.html %>
