<% include header.html %>

<!--link rel="stylesheet" href="/static/css/ops_trans_screen.css"-->

<script src="static/js/jquery.color.js"></script>

<div id="from_menu" class="ops-trans-from_menu">
	<h2>Transporter Control</h2>
	<p>Origin</p>
	<p id="origin_error" class="red"></p>
	<ul id="origin-list" class="menu trans">
	</ul>
	<p>Destination</p>
	<ul id="dest-list" class="menu trans">
	</ul>
</div>

<div id="energizer_controls" class="ops-trans-energizer-controls">
	<div class="ops-trans-beam_bar"></div>
	<div class="ops-trans-beam_bar"></div>
	<div class="ops-trans-beam_bar"></div>
	<div id="beam_progress" class="ops-trans-beam_progress"></div>
</div>

<script>
	var fromTarget = "<%= origin %>";
	var toTarget = "<%= destination %>";
	var transType = "<%= trans_type %>";
	var shipName = "<%= ship.name %>";
</script>

<script type="text/javascript" src="static/js/trek/ops-trans.js"></script>

<% include footer.html %>
