<% include header.html %>
<p><%= type %></p>
<div id="scan_body" class="scan-body">
    <div id="resolution_selector" class="fleft scan-slider scan-resolution-meter">
        <p class="descriptiveText">Resolution</p>
        <div id="resolution_meter" class="scan-resolution-meter">
            <div id="64" class="scan-slider-selector-left">
            </div>
            <div id="32" class="scan-slider-selector-left">
            </div>
            <div id="16" class="scan-slider-selector-left">
            </div>
            <div id="8" class="scan-slider-selector-left">
            </div>
            <div id="4" class="scan-slider-selector-left selected">
            </div>
        </div>
    </div>
    <div id="scan_result" class="fleft scan-display">
        <p class="descriptiveText">Scan Results</p>
        <svg viewbox="0 -10 1000 720" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMax" class="scan-display-container" id="scanResults">
        </svg>
    </div>
    <div id="range" class="fleft scan-slider">
        <p class="descriptiveText">Range 1.5AU</p>
        <div id="range_meter">
            <div id="range_selector" class="scan-slider-selector-right">
                <div id="range_bar" class="scan-setting-bar">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="scan-informational-overlay" id="scan_detail_window">
    <div id="scan_timing">
    </div>
    <div id="scan_details">
    </div>
</div>

<script>

    var type = "<%= type %>";

</script>

<script type="text/javascript" src="static/js/trek/science-scans.js"></script>

<% include footer.html %>
