<% include header.html %>
<div class="scan-detail-render" id="render"></div>
<div class="scan-detail-text-left" id="detail-text-left"></div>
<div class="scan-detail-text-bottom" id="detail-text-bottom"></div>
<div class="scan-detail-text-right" id="detail-text-right"></div>
<div class="scan-detail-loading" id="loading"><p>Scanning...</p></div>

<script type="text/javascript" src="/static/js/three.min.js"></script>
<script type="text/javascript">

    var classification = "<%= classification %>";
    var distance = <%= distance %>;
    var bearing = <%= bearing %>;
    var tag = "<%= tag %>";

</script>

<script type="text/javascript" src="static/js/trek/science-details.js"></script>

<% include footer.html %>
