<% include header.html %>

<div id="leftSide" class="fleft">
    <div id="viewMenu">
        <ul class="menu x1">
            <li class="blue" id="sr_scan">Primary Scan</li>
            <li class="blue" id="lr_scan">Long Range Scan</li>
            <li class="blue" id="detail_scan">Detailed Scan</li>
            <li class="blue" id="environmental">Environmental Scan</li>
            <li class="blue" id="internal">Internal Scan</li>
        </ul>
    </div>
    <div class="hidden science-sub_menu" id="sr_scan_menu">
        <ul class="menu x1">
            <li class="green" id="Wide Angle EM Field Scan">Wide Angle EM</li>
            <li class="green" id="Active Antiproton Beam Scan">Antiproton</li>
            <li class="green" id="Passive High-Resolution Scan">Passive High Resolution</li>
            <li class="green" id="Magneton Scan">Magneton</li>
            <li class="green" id="Multiphasic Scan">Multiphasic</li>
            <li class="green" id="Active Inverse Tachyon Pulse">Tachyon</li>
            <li class="green" id="Virtual Positron Imaging Scan">Positron</li>
        </ul>
    </div>
    <div class="hidden science-sub_menu" id="lr_scan_menu">
        <ul class="menu x1">
            <li class="green" id="EM Field Scan">EM Field</li>
            <li class="green" id="Gamma Radiation Scan">Gamma Radiation</li>
            <li class="green" id="Subspace Field Stressor Scan">Subspace Stressor</li>
            <li class="green" id="Gravimetric Distortion Scan">Gravimetric</li>
            <li class="green" id="Passive Neutrino Imaging Scan">Neutrino Imaging</li>
        </ul>
    </div>
    <div class="hidden science-sub_menu" id="detailed_scan_menu">
    </div>
    <ul class="menu x1">
        <li class="blue" id="mainViewer">Main Viewer</li>
    </ul>
</div>

<div id="rightSide" class="fleft">
    <iframe id="viewScreen"></iframe>
</div>

<script type="text/javascript" src="static/js/trek/science.js"></script>

<% include footer.html %>
