<% include header.html %>

<div id="leftSide" class="fleft">
    <div id="tacticalMenu" class="tactical">
        <div>
            <ul class="menu horizontal small x2" id="submenuSelectors">
                <li class="blue offline" id="comms">Comms</li>
                <li class="blue" id="targetingMenu">Target</li>
                <li class="blue" id="torpedoMenu">Torp</li>
                <li class="blue" id="phaserMenu">Phasers</li>
                <li class="blue" id="alertMenu">Alerts</li>
                <li class="blue" id="shieldMenu">Shields</li>
            </ul>
        </div>
        <div class="clear"></div>

        <div class="tactical-submenu" id="targetingSubmenu">
            <div>
                <p class="descriptiveText">Current target:</p>
                <p id="targetName">None</p>
            </div>
            <ul class="menu x1">
                <li class="blue" id="setTarget">Select Target</li>
                <li class="blue" id="setSubTarget">System Targeting</li>
            </ul>
        </div>

        <div class="tactical-submenu" id="torpedoSubmenu">
            <p class="descriptiveText">Zoom:</p>
            <div id="zoomSelector" class="tactical-bar-selector">
                <div id="1" class="zoomBar selected"></div>
                <div id="2" class="zoomBar selected"></div>
                <div id="3" class="zoomBar selected"></div>
                <div id="4" class="zoomBar selected"></div>
                <div id="5" class="zoomBar selected"></div>
                <div id="6" class="zoomBar selected"></div>
                <div id="7" class="zoomBar selected"></div>
                <div id="8" class="zoomBar selected"></div>
                <div id="9" class="zoomBar selected"></div>
                <div id="10" class="zoomBar selected"></div>
                <div id="11" class="zoomBar selected"></div>
                <div id="12" class="zoomBar selected"></div>
                <div id="13" class="zoomBar selected"></div>
                <div id="14" class="zoomBar selected"></div>
                <div id="15" class="zoomBar selected"></div>
                <div id="16" class="zoomBar selected"></div>
            </div>
            <div class="clear"></div>
            <p class="descriptiveText">Torpedo Count: <span id="torpCount"></span></p>
            <p class="descriptiveText">Torpedo Yield:</p>
            <div id="yieldSelector" class="tactical-bar-selector">
                <div id="1" class="yieldBar selected"></div>
                <div id="2" class="yieldBar"></div>
                <div id="3" class="yieldBar"></div>
                <div id="4" class="yieldBar"></div>
                <div id="5" class="yieldBar"></div>
                <div id="6" class="yieldBar"></div>
                <div id="7" class="yieldBar"></div>
                <div id="8" class="yieldBar"></div>
                <div id="9" class="yieldBar"></div>
                <div id="10" class="yieldBar"></div>
                <div id="11" class="yieldBar"></div>
                <div id="12" class="yieldBar"></div>
                <div id="13" class="yieldBar"></div>
                <div id="14" class="yieldBar"></div>
                <div id="15" class="yieldBar"></div>
                <div id="16" class="yieldBar"></div>
            </div>
            <div class="clear"></div>
            <p class="descriptiveText">Torpedo Bays:</p>
            <div id="torpedoBays" class="tactical-torpedo-bays">

            </div>
            <div class="clear"></div>
            <div>
                <ul class="menu x1">
                    <li class="green" id="fireTorpedo">Fire Torpedo</li>
                </ul>
            </div>
        </div>

        <div class="tactical-submenu" id="phaserSubmenu">
            <p class="descriptiveText">Zoom:</p>
            <div id="zoomSelector" class="tactical-bar-selector">
                <div id="1" class="zoomBar selected"></div>
                <div id="2" class="zoomBar selected"></div>
                <div id="3" class="zoomBar selected"></div>
                <div id="4" class="zoomBar selected"></div>
                <div id="5" class="zoomBar selected"></div>
                <div id="6" class="zoomBar selected"></div>
                <div id="7" class="zoomBar selected"></div>
                <div id="8" class="zoomBar selected"></div>
                <div id="9" class="zoomBar selected"></div>
                <div id="10" class="zoomBar selected"></div>
                <div id="11" class="zoomBar selected"></div>
                <div id="12" class="zoomBar selected"></div>
                <div id="13" class="zoomBar selected"></div>
                <div id="14" class="zoomBar selected"></div>
                <div id="15" class="zoomBar selected"></div>
                <div id="16" class="zoomBar selected"></div>
            </div>
            <div class="clear"></div>
            <p class="descriptiveText">Phaser Charge Status:</p>
            <div id="phaserStatus">

            </div>
            <div>
                <ul class="menu x1">
                    <li class="green" id="firePhasers">Fire Phasers</li>
                </ul>
            </div>
        </div>

        <div class="tactical-submenu" id="alertSubmenu">
            <ul class="menu x1">
                <li class="blue" id="clearAlert">Clear</li>
                <li class="blue" id="blueAlert">Blue Alert</li>
                <li class="blue" id="yellowAlert">Yellow Alert</li>
                <li class="blue" id="redAlert">Red Alert</li>
            </ul>
        </div>

        <div class="tactical-submenu" id="shieldSubmenu">
            <ul class="menu x1">
                <li class="green" id="raiseShields">Raise Shields</li>
            </ul>
            <div id="shieldListing">
            </div>
        </div>

        <div id="flyoutMenu" class="tactical-flyout"></div>

        <div class="clear"></div>
        <div>
            <ul class="menu x1">
                <li class="yellow" id="mainscreen">Main Screen</li>
            </ul>
        </div>

    </div>
</div>

<div id="rightSide" class="fleft">
	<iframe id="viewScreen"></iframe>
</div>

<script type="text/javascript">
    var shipName = "<%= ship.name %>";
</script>

<script type="text/javascript" src="static/js/trek/tactical.js"></script>

<% include footer.html %>
