<% include header.html %>

<div class="viewscreen-hidden-menu" id="viewscreenMenu">
	<div id="viewMenu">
		<ul class="menu x1" id="cameras">
			<li class="lightblue" id="forward">Forward</li>
			<li class="blue" id="aft">Aft</li>
		</ul>
        <p>On screen</p>
        <ul id="visualRange" class="menu x1">
        </ul>
	</div>
    <div id="mainViewer">
        <ul class="menu x1">
            <li class="blue" id="setMainViewer">Mainviewer</li>
        </ul>
    </div>
</div>

<script type="text/javascript">

var targetName = "";
var $menu = $( "#viewscreenMenu" );
var visualRange = $( "#visualRange" );


function getItemsInVisualRange () { trek.api( "command/targets-in-visual-range", displayTargets ); }


function displayTargets ( data ) {

    visualRange.empty();

    _.each( data, function ( d ) {

        if( d !== "<%= ship.name %>" ) {

            var cleanName = d.replace( /_/g, " ");

            visualRange.append( "<li class='green' id='" + d + "'>" + cleanName + "</li>" );

        }

    } );

    $( "#visualRange li" ).click( function ( c ) {

        targetName = c.target.id;

    } );

}

setInterval( getItemsInVisualRange, 1000 );

$( "#cameras li" ).click( function ( c ) {

    // set the camera;
    targetName = c.target.id;

} );


$( "#setMainViewer" ).click( setMainViewer );
function setMainViewer () {

    trek.api(
        "command/main-viewer",
        {
            screen: "viewscreen_screen",
            target: targetName
        },
        'POST',
        function ( d ) { console.log( "mainscreen set" ); }
    )
};

</script>

<% include footer.html %>