<% include header.html %>

<div class="viewscreen-hidden-menu" id="viewscreenMenu">
	<div id="viewMenu">
		<ul class="menu x1" id="cameras">
			<li class="lightblue" id="forward">Forward</li>
			<li class="blue" id="aft">Aft</li>
		</ul>
        <p>On screen</p>
        <ul id="visualRange" class="menu x1">
        </ul>
	</div>
    <div id="mainViewer">
        <ul class="menu x1">
            <li class="blue" id="setMainViewer">Mainviewer</li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="static/js/trek/viewscreen.js"></script>

<% include footer.html %>
