<% include header.html %>
<div class="viewscreen-hidden-menu" id="viewscreenMenu">
	<div id="viewMenu">
		<ul class="menu x1" id="cameras">
			<li class="lightblue" id="forward">Forward</li>
			<li class="blue" id="aft">Aft</li>
		</ul>
        <p>On screen</p>
        <ul id="visualRange" class="menu x1">
        </ul>
	</div>
    <div id="mainViewer">
        <ul class="menu x1">
            <li class="blue" id="setMainViewer">Mainviewer</li>
        </ul>
    </div>
</div>

<div class="fullscreen">
	<iframe id="viewScreen"></iframe>
</div>

<script type="text/javascript">

var targetName = "";
var $menu = $( "#viewscreenMenu" );
var viewScreen = $( "#viewScreen" );
viewScreen.attr( 'src', 'viewscreen_screen' );
var visualRange = $( "#visualRange" );


function getItemsInVisualRange () { trek.api( "command/targets-in-visual-range", displayTargets ); }


function hideMenu () {

    console.log( 'hiding menu' );
    $menu.fadeOut();

}


function showMenu () {

    console.log( 'showing menu' );
    $menu.fadeIn();

}

window.onkeydown = function ( d ) {

    showMenu();

};


function displayTargets ( data ) {

    visualRange.empty();

    _.each( data, function ( d ) {

        if( d !== "<%= ship.name %>" ) {

            visualRange.append( "<li class='green' id='" + d + "'>" + d + "</li>" );

        }

    } );

    $( "#visualRange li" ).click( function ( c ) {

        targetName = c.target.id;
        viewScreen.attr( 'src', 'viewscreen_screen?target=' + targetName );
        hideMenu();

    } );

}

setInterval( getItemsInVisualRange, 1000 );

$( "#cameras li" ).click( function ( c ) {

    // set the camera;
    targetName = c.target.id;
    viewScreen.attr( 'src', 'viewscreen_screen?target=' + targetName );
    hideMenu();

} );

function setMainViewer () {

    trek.api(
        "command/main-viewer",
        {
            screen: "viewscreen_screen",
            target: targetName
        },
        'POST',
        function ( d ) { console.log( "mainscreen set" ); }
    )
};

// Depreciated with the hiding menu
$( "#setMainViewer" ).click( setMainViewer );

</script>

<% include footer.html %>