ul.trans {
	font-size: 0.8em;
}

#from_menu {
	float: left;
	width: 550px;
	height: 800px;
	overflow-y: scroll;
}

#energizer_conrols {
	float: left;
	width: 50%;
	position: relative;
}

.beam_bar {
	height: 100%;
	width: 130px;
	border-left: 3px #000 solid;
	background-color: #0F8AA6;
	float: left;
}

#beam_progress {
	width: 399px;
	height: 5px;
	position: absolute;
	background-color: #000;
	bottom: 20px;
	left: 550px;
	clear: both;
}